@page "/campaign/{CampaignId:int}"
@using Blazority
@using Syncfusion.Blazor 

<body>
        <div style="width:100%;min-height:60px;border-bottom: 2px solid darkred;">
            <div style="float:left;height:40px;width:90%;min-width:600px;">
                <h1 style="font-weight:bold;margin:0 auto">@Campaign.Name</h1>
            </div>

        </div>
    <br />
    <div style="margin-top:12px;width:90%;margin:auto;border:2px solid darkgray;border-radius:6px;">
        @if (CanEdit)
        {
            <Syncfusion.Blazor.RichTextEditor.SfRichTextEditor @bind-Value="@campaignModel.Description" SaveInterval="1"></Syncfusion.Blazor.RichTextEditor.SfRichTextEditor>
            <Button @onclick="() => SaveCampaign()">SAVE</Button>
        }
        else
        {
            @convertedMarkdown
        }
    </div>

    <div style="padding-top:12px;">
        @foreach (var a in AreaList)
        {
            <div class="AreaDivSize hoverOutline" style="text-align:center;" @onclick="() => NavigateToArea(a.Id)">
                <div>
                    @if (a.Image == null)
                    {
                        <img class="iconImageSize" src="/images/d20Red.webp" alt="d20Red" asp-append-version="true" />
                    }
                    else
                    {
                        string img = SharedMethods.ConvertImageToDisplay(a.Image);
                        <img class="iconImageSize" src="@img" alt="d20Red" asp-append-version="true" />
                    }
                </div>
                <div style="margin-top:6px;">
                    <b style="color:black;">@a.Name</b>
                </div>
            </div>
        }
        @if (CanEdit)
        {
            <div class="AreaDivSize" hidden="@hideAddArea">
                <Form Model="@areaModel">
                    <div @onclick="() => AddImageShow()" class="campaignIcon">
                        @if (areaModel.Image != null)
                        {
                            string img = ConvertImage(areaModel.Image);
                            <img style="height:100%;width:100%" src="@img" alt="Chosen Image" asp-append-version="true" />
                        }
                        else
                        {
                            <img style="height:100%;width:100%" src="/images/plus.png" alt="Add Image" asp-append-version="true" />
                        }
                    </div>
                    <div style="margin-left: auto; margin-right: auto; display:block;width:45%;align-content:center">
                        <input type="text" @bind="@areaModel.Name" style="width:100% " />
                    </div>

                    <Button Variant="Primary" style="margin-left: auto; margin-right: auto;float:right" @onclick="() => SaveArea()">Create</Button>
                    <Button Variant="Danger" style="margin-left: auto; margin-right: auto;float:right" @onclick="() => CancelAddNewArea()">Cancel</Button>
                </Form>

            </div>
       


            <div class="AreaDivSize hoverOutline" style="text-align:center;" @onclick="() => AddNewArea()" hidden="@hideNewAddArea">
                <div>
                    <img class="imageSize" src="/images/plus.png" alt="plus" asp-append-version="true" />
                </div>
                <div style="margin-top:6px;">
                    <b style="color:black;">Add new Area</b>
                </div>
            </div>
        }
        </div>
       




</body>

<Modal Open="AddImageModal" Closable="false">
    <ModalTitle>Choose Image</ModalTitle>
    <ModalBody>
        <div style="overflow:scroll">
            <div class="drag-drop-zone">
                <BlazorInputFile.InputFile OnChange="HandleSelection" />
            </div>
            @foreach (var icon in IconList)
            {
                string img = ConvertImage(icon.Image);
                <div style="height:100px;width:100px;float:left;margin-top:6px;margin-left:6px;cursor:pointer" @onclick="()=>SelectImage(icon.Image)">
                    <img style="height:100%;width:100%" src="@img" alt="@icon.Name" asp-append-version="true" />
                </div>
                
            }

        </div>
    </ModalBody>
    <ModalFooter>
        <Button Variant="Danger" OnClick="e => AddImageModal = false">Abort</Button>
    </ModalFooter>
</Modal>