@page "/area/{AreaId:int}"
@using Blazority
@using Syncfusion.Blazor.RichTextEditor
@using DMM.Pages.Shared 

<body>
    <div style="width:100%;height:60px;border-bottom: 2px solid darkred;">
        <div style="float:right;">

        </div>
    </div>
    <div style="float:left;width:64%;min-width:600px;border:1px solid blue">
        <div class="LocationWoodTray">
            <div class="LocationWoodBanner">
                @if (LocationChoosen)
                {
                    <t class="LocationBannerText" style="font-family:ModestoBold;float:left">@CurrentLocation.Name</t>
                    <div class="BackButton" @onclick="()=>Back()">

                    </div>
                }
                else
                {
                    <t class="LocationBannerText" style="font-family:ModestoBold;">@area.Name</t>
                }
            </div>
            <div class="LocationParchmentPaperBackground scrollbar">
                @if (!LocationChoosen)
                {
                    foreach (var location in LocationList)
                    {
                        <div class="LocationStoneButton" @onclick="()=>ChooseLocation(location)">@location.Name</div>
                    }
                    <div class="LocationStoneButton">
                        <div class="AddLocationTextArea">
                            <input type="text" @bind="LocationName" />
                        </div>
                        <div class="AddLocation vertical-center" @onclick="()=>AddLocation(LocationName)"></div>
                    </div>
                }
                else
                {
                    <div>
                        <Tabs>
                            <Tab>
                                <Header>Map</Header>
                                <ChildContent>
                                    @foreach (var mapModel in MapList)
                                    {
                                        string mapImg = ConvertImage(mapModel.Map.Image);
                                        <div class="MapObject">
                                            <img style="height:100%;width:100%;" src="@mapImg" alt="Chosen Image" asp-append-version="true" />
                                            <div class="FocusMap" @onclick="()=>FocusMap(mapModel.Map)">
                                            </div>
                                            <div class="EditMap" @onclick="()=>ChooseMap(mapModel)">
                                            </div>
                                        </div>
                                        @if (mapModel.hidden == false)
                                        {
                                            <div class="NoteTextArea">
                                                <div class="DeleteButton" @onclick="()=>RemoveMap(mapModel.Map)"></div>
                                                @mapModel.Map.Title
                                            </div>
                                        }
                                    }
                                    <div class="MapObject">
                                        <Form Model="@MapImageModel">
                                            @if (MapImageModel.Image != null)
                                            {
                                                string img = ConvertImage(MapImageModel.Image);
                                                <div class="drag-drop-zone-map-no-image">
                                                    <BlazorInputFile.InputFile OnChange="HandleSelection" />
                                                    <img style="height:100%;width:100%;" src="@img" alt="Chosen Image" asp-append-version="true" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="drag-drop-zone-map">
                                                    <BlazorInputFile.InputFile OnChange="HandleSelection" />
                                                </div>
                                            }

                                            <div style="margin-left: auto; margin-right: auto; display:block;width:45%;align-content:center; margin-top:3px">
                                                <input type="text" @bind="@MapImageModel.Title" style="width:100% " />
                                            </div>
                                            @if (MapImageModel.Image != null && MapImageModel.Title != "" && MapImageModel.Title != null)
                                            {
                                                <div class="AddMap" @onclick="()=>SaveMap()"></div>
                                            }
                                        </Form>
                                    </div>

                                </ChildContent>
                            </Tab>
                            <Tab>
                                <Header>Notes</Header>
                                <ChildContent>
                                    @foreach (var noteModel in NoteList)
                                    {
                                        @if (noteModel.edit == true)
                                        {
                                            <div class="NoteStoneButton">
                                                <div class="AddLocationTextArea">
                                                    <input type="text" @bind="noteModel.Title" />
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="NoteStoneButton" @onclick="()=>ChooseNote(noteModel)">@noteModel.note.Title</div>
                                        }
                                        @if (noteModel.hidden == false)
                                        {
                                            <div class="NoteTextArea">
                                                @if (noteModel.edit == true)
                                                {
                                                    <div style="width:100%; height:30px">
                                                        <div class="SaveButton" @onclick="()=>SaveNote(noteModel)" style="margin-left:3px;float:left"></div>
                                                        <div class="RevertButton" @onclick="()=>AbortEditNote(noteModel)" style="margin-left:12px;float:left"></div>
                                                        <div class="DeleteButton" @onclick="()=>DeleteNote(noteModel)" style="margin-left:12px;float:left"></div>
                                                    </div>
                                                    <div style="margin-top:6px">
                                                        <Syncfusion.Blazor.RichTextEditor.SfRichTextEditor @bind-Value="@noteModel.note.Text">
                                                            <Syncfusion.Blazor.RichTextEditor.RichTextEditorToolbarSettings Items="@Tools" Type="ToolbarType.Expand" />
                                                        </Syncfusion.Blazor.RichTextEditor.SfRichTextEditor>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="EditButton" style="margin-left:3px;" @onclick="()=>EditNote(noteModel)"></div>
                                                    <div style="color:white">
                                                        @noteModel.markup
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }
                                    <div class="NoteStoneButton">
                                        <div class="AddLocationTextArea">
                                            <input type="text" @bind="NoteTitle" />
                                        </div>
                                        <div class="AddLocation vertical-center" @onclick="()=>AddNote()"></div>
                                    </div>
                                </ChildContent>
                            </Tab>
                            <Tab>
                                <Header>Monsters</Header>
                                <ChildContent>
                                    @foreach (var m in MonsterList)
                                    {
                                        <div class="MonsterDivSize hoverOutline" @onclick="() => ShowMonster(m)" style="margin-left:6px">
                                            <div style="margin-top:6px;">
                                                <div>
                                                    <b style="color:black;">@m.Monster.Name</b>
                                                </div>
                                            </div>
                                        </div>
                                        @if (!m.hidden)
                                        {
                                            
                                        <div class="MonsterDivContainer">
                                            <div class="MonsterDivTop"></div>
                                            <div style="background-image: url('/images/parchment.png');margin-right:24px;margin-left:24px;">
                                                <div class="MonsterChunkDiv">
                                                    <h1 style="letter-spacing:1px;font-family:ModestoBold;font-variant:small-caps;color:#822000;margin:0">@m.Monster.Name</h1>
                                                    <p style="font-family:Cambria;color:black;margin:0">
                                                        <i>
                                                            @m.Monster.Size
                                                            @m.Monster.Type
                                                            @if (m.Monster.SubType != null && m.Monster.SubType != "")
                                                            {<i> (@m.Monster.SubType )</i>}
                                                            , @m.Monster.Alignment
                                                        </i>
                                                    </p>
                                                </div>
                                                <div class="MonsterChunkDiv">
                                                    <p class="MonsterTextArialRegular"> <b>Armor Class </b>@m.Monster.ArmorClass</p>
                                                    <p class="MonsterTextArialRegular"> <b>Hit Points </b>@m.Monster.HitPoints (@m.Monster.HitDice)</p>
                                                    <p class="MonsterTextArialRegular"> <b>Speed </b>@m.Monster.Speed</p>
                                                </div>
                                                <div class="MonsterChunkDiv">
                                                    <table style="width:100%">
                                                        <tr>
                                                            <th>
                                                                <h5 style="font-family:ModestoRegular;color:#58170D;margin:0;text-align:center"> STR</h5>
                                                            </th>
                                                            <th>
                                                                <h5 style="font-family:ModestoRegular;color:#58170D;margin:0;text-align:center"> DEX</h5>
                                                            </th>
                                                            <th>
                                                                <h5 style="font-family:ModestoRegular;color:#58170D;margin:0;text-align:center"> CON</h5>
                                                            </th>
                                                            <th>
                                                                <h5 style="font-family:ModestoRegular;color:#58170D;margin:0;text-align:center"> INT</h5>
                                                            </th>
                                                            <th>
                                                                <h5 style="font-family:ModestoRegular;color:#58170D;margin:0;text-align:center"> WIS</h5>
                                                            </th>
                                                            <th>
                                                                <h5 style="font-family:ModestoRegular;color:#58170D;margin:0;text-align:center"> CHA</h5>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h5 style="font-family:ModestoRegular;color:#58170D;margin:0;text-align:center">
                                                                    @m.Monster.Strength (@if (GetModifier(m.Monster.Strength) >= 0)
                                                                    {<t>+</t>}@GetModifier(m.Monster.Strength))
                                                                </h5>
                                                            </td>
                                                            <td>
                                                                <h5 style="font-family:ModestoRegular;color:#58170D;margin:0;text-align:center">
                                                                    @m.Monster.Dexterity (@if (GetModifier(m.Monster.Dexterity) >= 0)
                                                                    {<t>+</t>}@GetModifier(m.Monster.Dexterity))
                                                                </h5>
                                                            </td>
                                                            <td>
                                                                <h5 style="font-family:ModestoRegular;color:#58170D;margin:0;text-align:center">
                                                                    @m.Monster.Constitution (@if (GetModifier(m.Monster.Constitution) >= 0)
                                                                    {<t>+</t>}@GetModifier(m.Monster.Constitution))
                                                                </h5>
                                                            </td>
                                                            <td>
                                                                <h5 style="font-family:ModestoRegular;color:#58170D;margin:0;text-align:center">
                                                                    @m.Monster.Intelligence (@if (GetModifier(m.Monster.Intelligence) >= 0)
                                                                    {<t>+</t>}@GetModifier(m.Monster.Intelligence))
                                                                </h5>
                                                            </td>
                                                            <td>
                                                                <h5 style="font-family:ModestoRegular;color:#58170D;margin:0;text-align:center">
                                                                    @m.Monster.Wisdom (@if (GetModifier(m.Monster.Wisdom) >= 0)
                                                                    {<t>+</t>}@GetModifier(m.Monster.Wisdom))
                                                                </h5>
                                                            </td>
                                                            <td>
                                                                <h5 style="font-family:ModestoRegular;color:#58170D;margin:0;text-align:center">
                                                                    @m.Monster.Charisma (@if (GetModifier(m.Monster.Charisma) >= 0)
                                                                    {<t>+</t>}@GetModifier(m.Monster.Charisma))
                                                                </h5>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </div>
                                                <div class="MonsterChunkDiv">
                                                    @if (m.Monster.SavingThrows != "")
                                                    {
                                                        <p class="MonsterTextArialRegular"><b>Saving Throws </b><t style="font-family:ModestoRegular;color:#58170D;margin:0;text-transform:capitalize">@m.Monster.SavingThrows</t> </p>
                                                    }
                                                    @if (m.Monster.Skills != "")
                                                    {
                                                        <p class="MonsterTextArialRegular"><b>Skills </b><t style="font-family:ModestoRegular;color:#58170D;margin:0;text-transform:capitalize">@m.Monster.Skills</t> </p>
                                                    }
                                                    @if (m.Monster.DamageVulnerabilities != "")
                                                    {
                                                        <p class="MonsterTextArialRegular"><b>Damage Vulnerabilities </b><t class="MonsterTextArialRegular" style="text-transform:capitalize">@m.Monster.DamageVulnerabilities</t> </p>
                                                    }
                                                    @if (m.Monster.DamageResistances != "")
                                                    {
                                                        <p class="MonsterTextArialRegular"><b>Damage Resistances </b><t class="MonsterTextArialRegular" style="text-transform:capitalize">@m.Monster.DamageResistances</t> </p>
                                                    }
                                                    @if (m.Monster.DamageImmunities != "")
                                                    {
                                                        <p class="MonsterTextArialRegular"><b>Damage Immunities </b><t class="MonsterTextArialRegular" style="text-transform:capitalize">@m.Monster.DamageImmunities</t> </p>
                                                    }
                                                    @if (m.Monster.ConditionImmunities != "")
                                                    {
                                                        <p class="MonsterTextArialRegular"><b>Condition Immunities </b><t class="MonsterTextArialRegular" style="text-transform:capitalize">@m.Monster.ConditionImmunities</t> </p>
                                                    }
                                                    @if (m.Monster.Senses != "")
                                                    {
                                                        <p class="MonsterTextArialRegular"><b>Senses </b><t class="MonsterTextArialRegular" style="text-transform:capitalize">@m.Monster.Senses</t> </p>
                                                    }
                                                    @if (m.Monster.Languages != "")
                                                    {
                                                        <p class="MonsterTextArialRegular"><b>Languages </b><t class="MonsterTextArialRegular" style="text-transform:capitalize">@m.Monster.Languages</t> </p>
                                                    }
                                                    @if (m.Monster.Challange != "")
                                                    {
                                                        <p class="MonsterTextArialRegular"><b>Challenge </b><t class="MonsterTextArialRegular" style="text-transform:capitalize">@m.Monster.Challange</t> </p>
                                                    }
                                                </div>
                                                @if (m.AbilityList.Count() != 0)
                                                {
                                                    <div class="MonsterChunkDivMiddle">
                                                        @foreach (var a in m.AbilityList)
                                                        {
                                                            <p style="font-family:Georgia;color:black;margin:0;"><i><b>@a.Name<t>.</t></b></i> <t style="font-family:Georgia;color:black;margin:0;">@a.Description</t> </p>
                                                        }
                                                    </div>
                                                }
                                                @if (m.ActionList.Count() != 0)
                                                {
                                                    <div class="MonsterChunkDivMiddle">
                                                        <div class="MonsterChunkTitle"><h5 style="letter-spacing:1px;font-family:Arial;font-variant:small-caps;color:#822000;margin:0">Actions</h5></div>
                                                        @foreach (var a in m.ActionList)
                                                        {
                                                            <p style="font-family:Georgia;color:black;margin:0;"><i><b>@a.Name<t>.</t></b></i> <t style="font-family:Georgia;color:black;margin:0;">@a.Description</t> </p>
                                                        }
                                                    </div>
                                                }
                                                @if (m.LegendaryActionList.Count() != 0)
                                                {
                                                    <div class="MonsterChunkDivMiddle">
                                                        <div class="MonsterChunkTitle"><h5 style="letter-spacing:1px;font-family:Arial;font-variant:small-caps;color:#822000;margin:0">Legendary Actions</h5></div>
                                                        @foreach (var a in m.LegendaryActionList)
                                                        {
                                                            <p style="font-family:Georgia;color:black;margin:0;"><i><b>@a.Name<t>.</t></b></i> <t style="font-family:Georgia;color:black;margin:0;">@a.Description</t> </p>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                            <div class="MonsterDivBottom"></div>
                                            <div class="MonsterButtons">
                                                <div class="SelectMonster" @onclick="()=>SelectMonster(m)"></div>
                                                <div class="DeleteMonster" @onclick="()=>DeleteMonster(m)"></div>
                                            </div>
                                        </div>
                                        }
                                
                                    }
                                    <Button style="margin-left:6px" Variant="Primary" @onclick="()=>AddMonster()">Add Monster</Button>
                                </ChildContent>
                            </Tab>  
                            <Tab>
                                <Header>Description</Header>

                                <ChildContent>
                                    @if (editDescription)
                                    {
                                        <div style="width:100%; height:30px">
                                            <div class="SaveButton" @onclick="()=>SaveDescription(CurrentLocation)" style="float:left;margin-left:3px"></div>
                                            <div class="RevertButton" @onclick="()=>AbortEditDescription(CurrentLocation)" style="float:left;margin-left:12px"></div>
                                        </div>
                                        <Syncfusion.Blazor.RichTextEditor.SfRichTextEditor @bind-Value="CurrentLocation.Description">
                                            <Syncfusion.Blazor.RichTextEditor.RichTextEditorToolbarSettings Items="@Tools" Type="ToolbarType.Expand" />
                                        </Syncfusion.Blazor.RichTextEditor.SfRichTextEditor>

                                    }
                                    else
                                    {
                                        <div class="EditButton" style="margin-left:6px;margin-top:6px" @onclick="()=>EditDescription()"></div>
                                        @convertedMarkdownDescription
                                    }
                                </ChildContent>
                            </Tab>
                            </Tabs>
                        </div>
                }
            </div>
        </div>
        <div class="FocusWoodTray">
            <div class="LocationWoodBanner">
                @if (focusObject.Title != null)
                {
                    <t class="LocationBannerText" style="font-family:ModestoBold;float:left;margin-left:12px">@focusObject.Title</t>
                }
            </div>

            @if (focusObject.Image != null)
            {
                string mapImg = ConvertImage(focusObject.Image);
                <div>
                    <img style="height:100%;width:100%;" src="@mapImg" alt="Chosen Image" asp-append-version="true" />
                </div>
            }
        </div>
    </div>
    <div style="float:left;width:35%;min-width:600px;border:1px solid green;">
        <div style="float:right">
            <div class="InitiativeWoodTray">
                <div class="InitiativeVelvetTray scrollbar">

                    @foreach (var initiative in InitiativeList)
                    {
                        @if (initiative.IsCurrent)
                        {
                            <div class="InitiativeObject" style="border:3px solid #5c57d0">
                                <div style="float:left">
                                    <t class="unselectable" style="color:white;">@initiative.Name</t>
                                </div>
                                <div class="RemoveInitiative" @onclick="()=>RemoveInitiative(initiative)">

                                </div>
                                <div style="width: 5%;float:right">
                                    <t class="unselectable" style="color:white;">@initiative.Roll</t>
                                </div>
                                @if (initiative.HP != 0)
                                {
                                    <div style="width: 20%;float:right">
                                        <t class="unselectable" style="color:white;float:left">HP: </t>
                                        <input style="width:50%;height:90%;float:left" type="text" @bind="initiative.HP" />
                                    </div>
                                }
                            </div>

                        }
                        else
                        {
                            <div class="InitiativeObject" style="border:2px solid black">
                                <div style="float:left;">
                                    <t class="unselectable" style="color:white">@initiative.Name</t>
                                </div>
                                <div class="RemoveInitiative" @onclick="()=>RemoveInitiative(initiative)">

                                </div>
                                <div style="width: 5%;float:right;">
                                    <t class="unselectable" style="color:white">@initiative.Roll</t>
                                </div>
                                @if (initiative.HP != 0)
                                {
                                    <div style="width: 20%;float:right">
                                        <t class="unselectable" style="color:white;float:left">HP: </t>
                                        <input style="width:50%;height:90%;float:left" type="text" @bind="initiative.HP" />
                                    </div>
                                }
                            </div>

                        }


                    }

                </div>
                <div style="height:200px; width:auto;float:left;margin:auto">
                    <div class="SortInitiative" @onclick="()=>SortInitiative()">
                        <t class="unselectable" style="color:white">Sort</t>
                    </div>
                    <div class="NextInitiative" @onclick="()=>NextInitiative()">
                        <t class="unselectable" style="color:white">Next</t>
                    </div>
                    <div class="ClearInitiative" @onclick="()=>ClearInitiative()">
                        <t class="unselectable" style="color:white">Clear</t>
                    </div>
                </div>
                <div class="AddInitiativeTextArea">
                    <input style="width:60%;margin-left:6px" type="text" @bind="InitiativeName" />
                    <input style="width:10%" type="number" @bind="InitiativeRoll" />
                    <t class="unselectable" style="color:white">HP: </t>
                    <input style="width:10%" type="number" @bind="InitiativeHP" />
                </div>
                <div class="AddInitiative" @onclick="()=>AddInitiative()">

                </div>
            </div>
        </div>
        <div style="float:right;">
            <div class="dieButtonContainer">
                <div class="d20Button" @onclick="()=>AddD20()" @oncontextmenu="SubtractD20" @oncontextmenu:preventDefault="true">
                    <div class="CountCircleDie" hidden="@HideD20Count">
                        <t class="unselectable">@d20toRoll</t>
                    </div>
                </div>
                <div class="d12Button" @onclick="()=>AddD12()" @oncontextmenu="SubtractD12" @oncontextmenu:preventDefault="true">
                    <div class="CountCircleDie" hidden="@HideD12Count">
                        <t class="unselectable">@d12toRoll</t>
                    </div>
                </div>
                <div class="d10Button" @onclick="()=>AddD10()" @oncontextmenu="SubtractD10" @oncontextmenu:preventDefault="true">
                    <div class="CountCircleDie" hidden="@HideD10Count">
                        <t class="unselectable">@d10toRoll</t>
                    </div>
                </div>
                <div class="d8Button" @onclick="()=>AddD8()" @oncontextmenu="SubtractD8" @oncontextmenu:preventDefault="true">
                    <div class="CountCircleDie" hidden="@HideD8Count">
                        <t class="unselectable">@d8toRoll</t>
                    </div>
                </div>
                <div class="d6Button" @onclick="()=>AddD6()" @oncontextmenu="SubtractD6" @oncontextmenu:preventDefault="true">
                    <div class="CountCircleDie" hidden="@HideD6Count">
                        <t class="unselectable">@d6toRoll</t>
                    </div>
                </div>
                <div class="d4Button" @onclick="()=>AddD4()" @oncontextmenu="SubtractD4" @oncontextmenu:preventDefault="true">
                    <div class="CountCircleDie" hidden="@HideD4Count">
                        <t class="unselectable">@d4toRoll</t>
                    </div>
                </div>
                <div class="rollButton" @onclick="()=>RollDice()">
                </div>
                <div class="CancelButton" hidden="@HideCancel" @onclick="()=>ClearDices()">
                </div>
            </div>

            <div class="woodTray" style="background-image: url(images/diceTrayWood.png)">
                <div class="velvetTray" style="background-image: url(images/diceTrayRed.png)">
                    <div class="scrollbar">
                        @foreach (var dice in d100List)
                        {
                            <div class="d100Die" @onclick="()=>RemoveDice(dice)">
                                <t class="DiceText" style="font-family:ModestoBold;">@dice.DiceResult</t>
                            </div>
                            @if (dice.Equals(d100List.Last()))
                            {
                                <div style="float:left;width:100%;height:6px"></div>
                            }
                        }

                        @foreach (var dice in d20List)
                        {
                            <div class="d20Die" @onclick="()=>RemoveDice(dice)">
                                <t class="DiceText" style="font-family:ModestoBold;">@dice.DiceResult</t>
                            </div>
                            @if (dice.Equals(d20List.Last()))
                            {
                                <div style="float:left;width:100%;height:6px"></div>
                            }
                        }

                        @foreach (var dice in d12List)
                        {
                            <div class="d12Die" @onclick="()=>RemoveDice(dice)">
                                <t class="DiceText" style="font-family:ModestoBold;">@dice.DiceResult</t>
                            </div>
                            @if (dice.Equals(d12List.Last()))
                            {
                                <div style="float:left;width:100%;height:6px"></div>
                            }
                        }

                        @foreach (var dice in d10List)
                        {
                            <div class="d10Die" @onclick="()=>RemoveDice(dice)">
                                <t class="DiceText" style="font-family:ModestoBold;">@dice.DiceResult</t>
                            </div>
                            @if (dice.Equals(d10List.Last()))
                            {
                                <div style="float:left;width:100%;height:6px"></div>
                            }
                        }

                        @foreach (var dice in d8List)
                        {
                            <div class="d8Die" @onclick="()=>RemoveDice(dice)">
                                <t class="DiceText" style="font-family:ModestoBold;">@dice.DiceResult</t>
                            </div>
                            @if (dice.Equals(d8List.Last()))
                            {
                                <div style="float:left;width:100%;height:6px"></div>
                            }
                        }

                        @foreach (var dice in d6List)
                        {
                            <div class="d6Die" @onclick="()=>RemoveDice(dice)">
                                <t class="DiceText" style="font-family:ModestoBold;">@dice.DiceResult</t>
                            </div>
                            @if (dice.Equals(d6List.Last()))
                            {
                                <div style="float:left;width:100%;height:6px"></div>
                            }
                        }

                        @foreach (var dice in d4List)
                        {
                            <div class="d4Die" @onclick="()=>RemoveDice(dice)">
                                <t class="DiceText" style="font-family:ModestoBold;">@dice.DiceResult</t>
                            </div>
                            @if (dice.Equals(d4List.Last()))
                            {
                                <div style="float:left;width:100%;height:6px"></div>
                            }
                        }

                    </div>

                </div>
                <div class="dieResultContainer">
                    @if (d100List.Count != 0)
                    {
                        <p style="font-family:ModestoRegular;color:ghostwhite;margin:0;text-align:center">D100</p>
                        <div class="dieResult" style="background-image: url(images/whitebackground.png)">
                            <t style="font-family: ModestoBold; color: black; margin: 0;">@d100List.Sum(x => x.DiceResult)</t>
                        </div>
                    }
                    @if (d20List.Count != 0)
                    {
                        <p style="font-family:ModestoRegular;color:ghostwhite;margin:0;text-align:center">D20</p>
                        <div class="dieResult" style="background-image: url(images/whitebackground.png)">
                            <t style="font-family: ModestoBold; color: black; margin: 0;">@d20List.Sum(x => x.DiceResult)</t>
                        </div>
                    }
                    @if (d12List.Count != 0)
                    {
                        <p style="font-family:ModestoRegular;color:ghostwhite;margin:0;text-align:center">D12</p>
                        <div class="dieResult" style="background-image: url(images/whitebackground.png)">
                            <t style="font-family: ModestoBold; color: black; margin: 0;">@d12List.Sum(x => x.DiceResult)</t>
                        </div>
                    }
                    @if (d10List.Count != 0)
                    {
                        <p style="font-family:ModestoRegular;color:ghostwhite;margin:0;text-align:center">D10</p>
                        <div class="dieResult" style="background-image: url(images/whitebackground.png)">
                            <t style="font-family: ModestoBold; color: black; margin: 0;">@d10List.Sum(x => x.DiceResult)</t>
                        </div>
                    }
                    @if (d8List.Count != 0)
                    {
                        <p style="font-family:ModestoRegular;color:ghostwhite;margin:0;text-align:center">D8</p>
                        <div class="dieResult" style="background-image: url(images/whitebackground.png)">
                            <t style="font-family: ModestoBold; color: black; margin: 0;">@d8List.Sum(x => x.DiceResult)</t>
                        </div>
                    }
                    @if (d6List.Count != 0)
                    {
                        <p style="font-family:ModestoRegular;color:ghostwhite;margin:0;text-align:center">D6</p>
                        <div class="dieResult" style="background-image: url(images/whitebackground.png)">
                            <t style="font-family: ModestoBold; color: black; margin: 0;">@d6List.Sum(x => x.DiceResult)</t>
                        </div>
                    }
                    @if (d4List.Count != 0)
                    {
                        <p style="font-family:ModestoRegular;color:ghostwhite;margin:0;text-align:center">D4</p>
                        <div class="dieResult" style="background-image: url(images/whitebackground.png)">
                            <t style="font-family: ModestoBold; color: black; margin: 0;">@d4List.Sum(x => x.DiceResult)</t>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</body>

<Modal Open="MonsterModal" Size="ModalSize.ExtraLarge" Closable="false">
    <ModalTitle>Add Monster</ModalTitle>
    <ModalBody>
        <MonsterDiv LocationId="@CurrentLocation.Id">

        </MonsterDiv>
    </ModalBody>
    <ModalFooter>
        <Button Variant="Primary" OnClick="()=>SaveMonster()">Ok</Button>
    </ModalFooter>
</Modal>
